$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$yellow: #e7c71a;
$gray: #d0d0e1;
$starwarsfont: 'Poller One', cursive, sans-serif;
$otherfont: serif;
$black: #000;
$red: #c00;


.square {
  border: 3px solid $yellow;
  font-size: 100px;
  height: 150px;
  padding-top: 25px;
  text-align: center;
}

.table-responsive {
  border: none;
  overflow-y: hidden;
}

.starwarslogo {
  border: 1px solid $yellow;
  width: 50%;
}

img {
  display: block;
  margin: 0 auto;
}

.modal {
  background-color: $black;
  color: $black;
  margin: 0 auto;
}

.loginbuttons {
  background-color: $gray;
  border-radius: 15px;
  color: $black;
  font-weight: bold;
  margin: 5px;
}

.modal-title {
  font-size: 25px;
}

button {
  background-color: $gray;
  color: $black;
}

.newgame {
  margin: 20px auto;
}

.title {
  font-family: $starwarsfont;
  font-size: 60px;
  padding: 20px;
  text-align: center;
}

.container {
  text-align: center;
}

.hidingboard {
  display: none;
}

.resetgamediv {
  position: absolute;
}

.initialbuttons {
  background-color: $gray;
  border-radius: 15px;
  color: $black;
  font-weight: bold;
  margin: 5px;
}

.hidingbuttons {
  display: none;
}

.force {
  font-size: 25px;
  padding: 15px;
  text-align: center;
}

.results {
  font-size: 30px;
}

.shownbuttons {
  background-color: $gray;
  color: $black;
  margin: 0 auto;
}

body {
  background-image: url('./images/stars.jpg');
  color: $yellow;
  font-family: $otherfont;
  font-weight: bold;
  min-width: 750px;
}

.gamewins {
  font-size: 20px;
}

.signinerror {
  color: $red;
  font-size: 15px;
  text-align: left;
}

.signuperror {
  color: $red;
  text-align: left;
}

.passworderror {
  color: $red;
  text-align: left;
}
